<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>

  	<link rel="stylesheet" href="styleProj.css">
  	<link href="https://fonts.googleapis.com/css?family=Kanit|Mitr" rel="stylesheet">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body>
	<!--nav bar-->
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3c2e3d;">
	  <a class="navbar-brand" href="">IA FSci</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        Program
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item" href="exchange">Exchange</a>
	          <a class="dropdown-item" href="internship">Internship</a>
	          <a class="dropdown-item" href="short">Short-program</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        Club
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item" href="aboutclub">About Club</a>
	          <a class="dropdown-item" href="clubregist">Register</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        About Us
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item" href="contact">Contact</a>
	          <a class="dropdown-item" href="aboutus">About Us</a>
	        </div>
	      </li>
	      </ul>
	      <ul class="navbar-nav">
	      <li class="nav-item dropdown ">
	      	<%if(user) { %>
	      	<div class="dropdown profile">
                <button class="btn btn-primary btn-circle" type="button" id="profiledropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-alt"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profiledropdownmenu" >
                    <a class="dropdown-item" href="profile">My Profile</a>
                    <a class="dropdown-item" href="/users/logout">Log Out</a>
                </div> <% } else { %>
		      <form class="form-inline">
			    <button class="btn btn-outline-success btnsignin" type="button" onclick="window.location.href='signin'">Sign In</button>
			  </form> <% } %>
		  </li>
	    </ul>
	  </div>
	</nav>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
	<!-- <div class="container"> -->
	<div id="demo" class="carousel slide w-100" data-ride="carousel">
	  <ul class="carousel-indicators">
	    <li data-target="#demo" data-slide-to="0" class="active"></li>
	    <li data-target="#demo" data-slide-to="1"></li>
	    <li data-target="#demo" data-slide-to="2"></li>
	  </ul>
	  <div class="carousel-inner" >
	    <div class="carousel-item active">
	      <img class="d-block w-100" src="/img/1.png">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="/img/2.png">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="/img/3.png">
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#demo" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#demo" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	  </a>
	</div>
	<!-- </div> -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<section class="mag-posts-area d-flex flex-wrap limit">
<!-- Left side -->
<div class="post-sidebar-area left-sidebar mt-30 mb-30 bg-white box-shadow">
	<div class="single-sidebar-widget p-30">
    <!-- Section Title -->
    <div class="section-heading" style="background-color: #f89460">
        <h5>Activities</h5>
    </div>
    <!-- Single Blog Post -->
		<% club.forEach(function(club){ %>
			<div class="single-blog-post d-flex">
	        <div class="post-content">
						<li class="box-list single-blog-post">
							<div class="verdicts">
								<p><a href="/clubregist/<%= club._id %>"><strong><%=club.title%> , <%=club.date%></strong></a><br/>
									<%=club.body%> , <%=club.place%><br/>
								<%=club.time%></p>
							</div>
						</li>
					</div>
	    </div>
		<% }) %>
  </div>
</div>
<!-- Right side -->
<div class="post-sidebar-area right-sidebar mt-30 mb-30 bg-white box-shadow">
<div class="single-sidebar-widget p-30">
        <!-- Section Title -->
        <div class="section-heading" style="background-color: #eab0a5">
            <h5>News</h5>
        </div>
				<% blogs.forEach(function(blog){ %>
        <!-- Single Blog Post -->
        <div class="single-blog-post d-flex">
            <div class="post-content">
								<li class="box-list single-blog-post">
									<div class="verdicts">
										<p><a href="/blogs/<%= blog._id %>"><strong><%=blog.university%> , <%=blog.country%></strong></a><br/>
											<%=blog.levelofstudy%> , <%=blog.date%><br/>
										<%=blog.body%></p>
									</div>
								</li>
					  </div>
        </div>
				<% }) %>
    </div>
</div>
</section>
</body>
</html>
